* {
  box-sizing: border-box;
  font-family: "Microsoft Jhenghei";
  font-size: 14px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li {
  margin: 0;
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  vertical-align: top;
}
li {
  list-style:none;
}
.clearfix::after {
  content: "";
  display: block;
  clear:both;
}